---
export const prerender = true;

import CenteredBody from "components/CenteredBody.astro";
import Layout from "layouts/Layout.astro";

import { loadStrings, getStaticPaths } from "locales";
export { getStaticPaths };

const t = await loadStrings(Astro.params.lang, true);
---

<Layout title={t("404.title")} description={t("404.description")}>
    <CenteredBody>
        <h1>{t("404.title")}</h1>
        <h3>{t("404.notFound")}</h3>
        <p>{t("404.lost")}</p>
        <p>{t("404.goHome")}</p>
        <a href="/en">
            <img
                src="https://media.discordapp.net/stickers/1281365781908684911.png?size=160&name=atreus"
                alt={t("404.atreusAlt")}
            />
        </a>
    </CenteredBody>
</Layout>

<style>
    div {
        margin: 2em 20%;
    }
</style>
