---
import Thanks from "../../components/Thanks.astro";
export const prerender = true;

import Layout from "layouts/Layout.astro";
import Socials from "components/Socials.astro";

import CenteredBody from "components/CenteredBody.astro";
import Fren from "components/Fren.astro";

import { loadStrings, getStaticPaths } from "locales";
import Trans from "locales/Trans.astro";

export { getStaticPaths };

const t = await loadStrings(Astro.params.lang, true);
---

<Layout title={t("home.title")} description={t("home.description")}>
    <CenteredBody>
        <section>
            <h1>
                <Trans i18nKey="home.hello">
                    Hi, I'm <span>LoosaZ!</span>
                </Trans>
            </h1>
            <p>
                {t("home.about")}
                <br />
                {t("home.about2")}
            </p>
        </section>

        <section id="socials">
            <h2>{t("home.socialsTitle")}</h2>
            <Socials class="socials" />
        </section>

        <section id="friends">
            <h2>{t("home.friendsTitle")}</h2>
            <div id="frens">
                <Fren name="Riot Games" url="https://riot.com" avatarUrl="https://pbs.twimg.com/profile_images/1867739479605489664/NsdJSu3f_400x400.jpg" />
                <Fren name="SehLoiro" url="https://sehloiro.com/sl-moderacao/" avatarUrl="https://d1fdloi71mui9q.cloudfront.net/JFlnJ1rZTwmjuRGPbPqc_BTy1Zm6nWk3KP94w" />
                <Fren name="Blizzard" url="https://www.blizzard.com/" avatarUrl="https://www.pngmart.com/files/23/Blizzard-PNG-HD.png" />
                <Fren name="Ostra Content" url="https://ostracontent.com/" avatarUrl="https://pbs.twimg.com/profile_images/1675222215518724096/Gt4c5IeM_400x400.jpg" />
                <Fren name="Raidiant" url="https://www.raidiant.gg/" avatarUrl="https://pbs.twimg.com/profile_images/1638623522313621504/1cqhC0hj_400x400.jpg" />
            </div>
        </section>

    </CenteredBody>
</Layout>

<style lang="scss">
    section {
        // make this smaller to fit more stuff on the page later
        margin-bottom: 2.5em;
    }

    span {
        color: var(--accent);
    }

    h2 {
        font-size: unset;
    }

    a:not(:hover, :focus) {
        text-decoration: none;
    }

    #frens {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    // trolley
    @media screen and (max-width: 1506px) {
        #frens {
            justify-content: center;
        }
    }
</style>
